@charset "utf-8";

/* common */
.background{
	background-color: #FEFFF8;
}
.banner{
	clear: both;
	width:960px;
	margin: 0 auto;
}
.banner>h1{
	font-size: 7em;
	letter-spacing: -1px;
	color: black;
	font-family: 'Montserrat', sans-serif;
}
.profile{
	width: 400px;
	height: 400px;
	margin: 0 auto;
}
.profile>h2{
	font-size: 2.5em;
	color: #3E3828;
	text-align: center;
}
.profile>img{
	display: block;
	margin:0 auto;
	width: 250px;
	height: 250px;
	-moz-border-radius: 125px;
	-webkit-border-radius: 125px;
	border-radius: 125px;
}
.profile>p{
	color: #9E9085;
	text-align: center;
	font-size: 1.5em;
}
.profile>p>i{
	color: #3E3828;
}
.content{
	clear: both;
}


