@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Righteous);

/* reset.css */
html {
	font-size:100%;
}


body {
	font:normal 12px '나눔고딕',nanumgothic,'돋움',dotum,AppleGothic, Arial, Verdana, sans-serif;
	line-height:1.3;
	color:black
	background-color:#fff;
	margin:0;
	padding:0;
}
br	{
	letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:1em;
	font-weight:normal;
}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {
	list-style:none;
}
img {
	border:0;
}
table {
	width:100%;
	border-collapse:collapse;
}

table caption {position:absolute; top:0; left:-999999px;}

/*a:link, a:visited {
	color: #444547;
	text-decoration:none;
}*/
/*a:hover, a:focus, a:active {
	color:#55aaea;
	text-decoration:underline;
}*/

select, input, textarea {
	font:normal 1em '나눔고딕',nanumgothic,'돋움',dotum,AppleGothic, Arial, Verdana, sans-serif;
	color:#797b80;
	vertical-align:middle;
}

/* common */
html, body{
	height: 100%;	
}
body{
	width: 100%;
}
#background{
	min-height: 100%;
}
/* header */
a {
	color: #444547;
	text-decoration: none;
}
.border{
	width: 100%;
	height:6px;
	background-color: #3E3828;
}
.header{
	width: 960px;
	overflow: hidden;
	margin: 0% auto;
	padding-top: 2%;
	margin-bottom: 2.5%;
}
.logo{
	font-size: 1.5em;
	font-family: 'Righteous', cursive;
	width: 80px;
	height: 80px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	background: #3E3828;
	text-align: center;
	line-height: 80px;
	float:left;
}
.logo>a{
	color: white;
	display: block;
}
.desk_nav{
	overflow: hidden;
	float: right;
	margin-top: 20px;
}
.desk_nav>li{
	font-size: 1.5em;
	letter-spacing: -1px;
	border-radius: 5px;
	float:left;
	display: block;
	padding: 7px 10px;
	margin-left: 5px;
}
.desk_nav>li>*{
	font-family: 'Montserrat', sans-serif;
}
.desk_nav>li:hover {
	background: #DDDDD6;
}
/*.desk_nav>li:clicked{
	background: #242019;
}
.desk_nav>li>a:active{
	color: #FFFFFF;
}*/
#select_nav{
	display: none;
}

/* content */
#content{
	padding-bottom:1.9em;
}

/* footer */
footer{
	padding: 30px 50px;
	background-color: #3E3828;
	color : #EBF0DC;
}
#footer{
	margin-top:-1.9em;
	height:1.9em;
}
.footer_wrap{
	width:960px;
	overflow: hidden;
	margin: 0 auto;
}
.copyright{
	margin-top: 10px;
	text-align: center;
	float:left;
}
.link{
	float: right;
}
.link>li{
	float: left;
	margin-left: 15px;
}
.link>li>a>.fa {
	color : #EBF0DC;
}
a span.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* current page nav */
.current{
	background-color: #3E3828;
}
.current>a{
	color: #FEFFF8;
}
.current>a:hover{
	color: #FEFFF8;
}
#CP:hover{
	background-color: #3E3828;
}