@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Lato);

/* common */
.banner{
	clear: both;
	width:960px;
	margin: 0 auto;
}
.banner>h1{
	font-size: 7em;
	letter-spacing: -1px;
	color: black;
	font-family: 'Montserrat', sans-serif;
}
.banner>p{
	margin-top: 5px;
	font-size: 2.2em;
	color: #3E3827;
	font-family: 'Ubuntu', sans-serif;
}
.content{
	margin-top: 27px;
	clear: both;
	width:960px;
	margin: 35px auto 0 auto;
	overflow: hidden;
	padding-bottom: 35px;
	font-family: 'Lato', sans-serif;
	/*border:1px solid black;*/
}
.contact_box{
	width: 480px;
	float:left;
}
.contact_box>.mobile{
	width: 480px;
	float:left;
	font-size: 3.5em;
	letter-spacing: -1px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	margin:16px 0 40px 0;
}
.contact_box>.address{
	width: 480px;
	margin: 20px 0 17px 0;
	float:left;
	font-size: 1.5em;
	color: black;
	font-family: 'Ubuntu', sans-serif;
}
.list_contact{
	width: 480px;
}
.list_contact > li+li{
	margin-top:7px;
}
.list_contact>li>.fa{
	color: #3D3727;
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
}
.list_contact > li span{
	font-size: 1.3em;
}
.follow_link{
	overflow:hidden;
	position: relative;
	top:67px;
}
.follow_link>li{
	float: left;
	margin: 0 20px 15px 0;
}
.follow_link>li>a>.fa{
	display: inline-block;
	color: #FFFFFF;
	width: 50px;
	height: 50px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background-color: #9E9085;
	text-align: center;
	line-height: 1.4;
}
form{
	width:480px;
	float:left;
}
form>label{
	display: block;
	text-transform:uppercase;
	letter-spacing: 1px;
	margin-top: 10px;
}
form input{
	width: 472px;
	margin-top: 2px;
}
form input{
	height: 20px;
	padding: 2px;
}
form textarea{
	width: 474px;
	height: 100px;
	margin-top: 2px;
}
form>*{
	font-size: 1.0em;

}

button{
	display: block;
	text-transform:uppercase;
	text-align: center;
	float:left;
	margin-right: 10px;
	transition: background-color 0.3s;
	border:0;
	padding: 10px 20px;
}
.submit{
	background: #3E3828;
	color: #FFFFFF;
}
.reset{
	background: #9E9085;
	color: #FFFFFF;
}
