@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Lato);

/* common */
.background{
	background-color: #FEFFF8;
}
.banner{
	clear: both;
	width:960px;
	margin: 0 auto;
}
.banner>h1{
	font-size: 7em;
	letter-spacing: -1px;
	color: black;
	font-family: 'Montserrat', sans-serif;
}
.banner>p{
	margin-top: 5px;
	font-size: 2em;
	color: #3E3827;
	font-family: 'Ubuntu', sans-serif;
}
.content{
	margin-top: 20px;
	clear: both;
	width:960px;
	margin: 35px auto 0 auto;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	border:1px solid black;
}
.contact_box{
	width: 480px;
	float:left;
}
.contact_box>.mobile{
	width: 480px;
	float:left;
	font-size: 2.2em;
	letter-spacing: -1px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 15px;
}
.contact_box>.address{
	width: 480px;
	margin: 20px 0 17px 0;
	float:left;
	font-size: 1.5em;
	color: black;
	font-family: 'Ubuntu', sans-serif;
}
.contact{
	width: 480px;
}
.contact>li>.fa{
	color: #3D3727;
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
}
.contact>li span{
	font-size: 1.25em;
}
.follow_link{
	overflow:hidden;
}
.follow_link>li{
	float: left;
	margin: 0 20px 15px 0;
}
.follow_link>li>a>.fa{
	display: inline-block;
	color: #FFFFFF;
	width: 50px;
	height: 50px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background-color: #9E9085;
	text-align: center;
	line-height: 1.4;
}
form{
	width:480px;
	float:left;
}
form>label{
	display: block;
	text-transform:uppercase;
	letter-spacing: 1px;
	margin-top: 10px;
}
form input,textarea{
	width: 470px;
	margin-top: 2px;
}
form input{
	height: 20px;
	padding: 2px;
}
form textarea{
	height: 100px;
}
form>*{
	font-size: 1.0em;

}

button{
	border:0;
}