@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

.main{
	width: 100%;
	overflow: hidden;
	min-height: 100%;
	background-image: url('../images/home2_m.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding-top: 6px;
}
.banner{
	clear: both;
	width:960px;
	margin: 0 auto;
}
.banner>p{
	position: relative;
	height: 500px;
	font-size: 9em;
	letter-spacing: -2px;
	color: #A4A39F;
	border: 1px solid white;
	font-family: 'Walter Turncoat', cursive;
}
.banner>.button{
	position: relative;
	width: 80px;
	height: 80px;
	bottom: 100px;
	left: 47%;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	background: black;
	/*line-height: 80px;*/
	color: white;
	font-size: 1.5em;
	text-align: center;
}
.banner>.button>a{
	display: block;
	float: left;
	position: relative;
	top: 25px;
	left:14px;
	color: white;
}

.content{
	clear: both;
}
.content>p{
	font-size: 9em;
	letter-spacing: -2px;
	color: white;
	border: 1px solid white;
}
.content>.button{
	width: 80px;
	height: 80px;
	margin:0 auto;
	font-size: 1.5em;
	border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	background: black;
	text-align: center;
	line-height: 80px;
	color: white;
}
.content>.button>a{
	display: block;
	color: white;
}